### Dictionary

Dictionary in a python is collection of key and values,used to store data values 
like map, which, unlike other data types which hold only a single value 
as an element.

In some language it is known as map or associative arrays.

### characteristics
    
    1.mutable
    2.Indexing has no meaning 
    3.key can't be duplicate 
    4.key can't be mutable items

### Creat Dictionary

In [3]:
#empty dictionary
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [4]:
#1D dictionary
d1={'name':'damodhara','gender':'male'}
print(d1)
#1D dictionary with homogeneous

{'name': 'damodhara', 'gender': 'male'}

In [8]:
#1D dictionary with mixed type
d1={(1,2,3):1,'hello':'World'}
print(d1)
# one string and tuple both are immutable

{(1, 2, 3): 1, 'hello': 'World'}

In [9]:
#2D dictionary

s={
    'name':'Damodhara',
    'college':'SVCE',
    'sem':4,
    'Subjects':{
        'dsa':40,
        'maths':67,
        'Englis':67
    }
    
}
print(s)

{'name': 'Damodhara', 'college': 'SVCE', 'sem': 4, 'Subjects': {'dsa': 40, 'maths': 67, 'Englis': 67}}

In [13]:
#using sequence and dictionary function
d4=dict([(1,2),(2,3),(3,4)])
print(d4)

{1: 2, 2: 3, 3: 4}

In [15]:
d4=dict([('name','damodhara'),('qualifications','Btech'),('designation','Analyst')])
print(d4)

{'name': 'damodhara', 'qualifications': 'Btech', 'designation': 'Analyst'}

In [17]:
#duplicate keys not allowed 
d5={'name':'hariprasad','name':'damodhara'}
print(d5)

{'name': 'damodhara'}

In [18]:
#keys are must immutable 

d6={'name':'damodhara',[1,2,3,4]:1}
#list are mutable so its show error

TypeError: unhashable type: 'list'

In [20]:
d6={'name':'Damodhara',(1,2,3,4):1}
print(d6)
#tuple are immutable, so its not show error

{'name': 'Damodhara', (1, 2, 3, 4): 1}

### Accessing item

In [22]:
#index not works for dictionarys
my_dict={'name':'jack','age':20}
my_dict[0]

KeyError: 0

In [25]:
#we are asscessing through kesy
#we mention particular key the value will give output
my_dict['name']

'jack'

In [24]:
my_dict['age']

20

In [26]:
#get 
my_dict.get('name')

'jack'

In [27]:
my_dict.get('age')

20

In [46]:
#Accessing 2D dictionary

s={
    'name':'Damodhara',
    'college':'SVCE',
    'sem':4,
    'Subjects':{
        'dsa':40,
        'maths':67,
        'Englis':67
    }
    
}

In [48]:
s['Subjects']

{'dsa': 40, 'maths': 67, 'Englis': 67}

In [49]:
s['Subjects']['maths']

67

### Adding Key value Pair

In [28]:
d4

{'name': 'damodhara', 'qualifications': 'Btech', 'designation': 'Analyst'}

In [29]:
d4['location']='Banglore'

In [30]:
print(d4)

{'name': 'damodhara', 'qualifications': 'Btech', 'designation': 'Analyst', 'location': 'Banglore'}

In [31]:
d4['weight']=70

In [32]:
print(d4)

{'name': 'damodhara', 'qualifications': 'Btech', 'designation': 'Analyst', 'location': 'Banglore', 'weight': 70}

In [50]:
#2 D


s={
    'name':'Damodhara',
    'college':'SVCE',
    'sem':4,
    'Subjects':{
        'dsa':40,
        'maths':67,
        'Englis':67
    }
    
}

In [51]:
s['Subjects']['Social']=90

In [52]:
print(s)

{'name': 'Damodhara', 'college': 'SVCE', 'sem': 4, 'Subjects': {'dsa': 40, 'maths': 67, 'Englis': 67, 'Social': 90}}

In [53]:
s['labmarks']=90
print(s)

{'name': 'Damodhara', 'college': 'SVCE', 'sem': 4, 'Subjects': {'dsa': 40, 'maths': 67, 'Englis': 67, 'Social': 90}, 'labmarks': 90}

### Remove Key Value Pair

In [36]:
#pop
#it will remove particular key value pair
d={'name':'damodhara','qualification':'B.Tech','designation':'data analyst','age':31,'weight':90}
d.pop('weight')
print(d)d

{'name': 'damodhara', 'qualification': 'B.Tech', 'designation': 'data analyst', 'age': 31}

In [38]:
#popitem
#itwill remove last key pair
d={'name':'damodhara','qualification':'B.Tech','designation':'data analyst','age':31,'weight':90}
d.popitem()
print(d)

{'name': 'damodhara', 'qualification': 'B.Tech', 'designation': 'data analyst', 'age': 31}

In [39]:
#del
#we can delet particular key value pair 
del d['name']
print(d)

{'qualification': 'B.Tech', 'designation': 'data analyst', 'age': 31}

In [45]:
#claear
d={'name':'damodhara','qualification':'B.Tech','designation':'data analyst','age':31,'weight':90}
d.clear()
print(d)

{}

### Editing Key Value Pair

In [54]:
s

{'name': 'Damodhara',
 'college': 'SVCE',
 'sem': 4,
 'Subjects': {'dsa': 40, 'maths': 67, 'Englis': 67, 'Social': 90},
 'labmarks': 90}

In [55]:
s['sem']=5

In [56]:
print(s)

{'name': 'Damodhara', 'college': 'SVCE', 'sem': 5, 'Subjects': {'dsa': 40, 'maths': 67, 'Englis': 67, 'Social': 90}, 'labmarks': 90}

In [57]:
s['Subjects']['DataScience']=90

In [58]:
print(s)

{'name': 'Damodhara', 'college': 'SVCE', 'sem': 5, 'Subjects': {'dsa': 40, 'maths': 67, 'Englis': 67, 'Social': 90, 'DataScience': 90}, 'labmarks': 90}

### Dictionary Opearations

#### Membership Operations

In [59]:
s

{'name': 'Damodhara',
 'college': 'SVCE',
 'sem': 5,
 'Subjects': {'dsa': 40,
  'maths': 67,
  'Englis': 67,
  'Social': 90,
  'DataScience': 90},
 'labmarks': 90}

In [61]:
'Damodhara' in s
#we asking about value so its shows false

False

In [63]:
'sem' in s
# sem is key

True

In [64]:
#Membership operators works on the key value only

#### Iteration

In [65]:
d={'name':'damodhara','designation':'data analyst','age':31}

In [66]:
for i in d:
    print(i)

name
designation
age

In [67]:
for i in d:
    print(i,d[i])

name damodhara
designation data analyst
age 31

### Dictionry Functions

In [68]:
d

{'name': 'damodhara', 'designation': 'data analyst', 'age': 31}

In [69]:
#length
len(d)

3

In [71]:
sorted(d)
#the output will give the list

['age', 'designation', 'name']

In [73]:
min(d)
#the output will be based on ascii

'age'

In [74]:
max(d)

'name'

In [75]:
print(d)

{'name': 'damodhara', 'designation': 'data analyst', 'age': 31}

In [77]:
print(d.items())
#avery item is a tuple

dict_items([('name', 'damodhara'), ('designation', 'data analyst'), ('age', 31)])

In [78]:
print(d.keys())

dict_keys(['name', 'designation', 'age'])

In [79]:
print(d.values())

dict_values(['damodhara', 'data analyst', 31])

In [80]:
#update
d1={1:2,3:4,4:5}
d2={4:7,6:8}
d1.update(d2)
print(d1)
print(d2)

{1: 2, 3: 4, 4: 7, 6: 8}
{4: 7, 6: 8}

### Dictionary Comprehension

# {key:Value for vars in iterable}

In [81]:
#print 1 to 10 numbers and their squares 
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [85]:
#using existing dict 
distances={'delhi':1000,'mumbai':2000,'bengalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bengalore', 3000)])

In [86]:
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bengalore': 1860.0}

In [88]:
days=['sunday','monday','tuesday','wendsday','thursday','friday','satrday']
temp_c=[20,3,90,80,90,30,70]
{i:j for (i,j) in zip(days,temp_c)}

{'sunday': 20,
 'monday': 3,
 'tuesday': 90,
 'wendsday': 80,
 'thursday': 90,
 'friday': 30,
 'satrday': 70}

In [90]:
#Using If Conditions

products={'phone':10,'laptop':0,'charger':32,'table':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [93]:
#nested comprehension
#print the tables from 1 to 2
{i:{j:i for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 2, 3: 2, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2, 10: 2},
 3: {1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 3},
 4: {1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6: 4, 7: 4, 8: 4, 9: 4, 10: 4}}