In [ ]:
# Creating Function

In [3]:
def is_even(num):
    """
    This function returns if a given number is odd or even 
    input-any valid integr
    output- odd/even
    created on-16th Nov 2022
    """
    
    if type(num)==int:
        if num % 2==0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'pagal hai kya?'
#function writed

In [4]:
#function 
# function_name(input)

for i in range(1,11):
    x=is_even(i)
    print(x)
#using of the function

odd
even
odd
even
odd
even
odd
even
odd
even

In [5]:
#Function is created is parameter (num) 
#Function is used is call orgument

In [6]:
#documentation 
is_even.__doc__

'\n    This function returns if a given number is odd or even \n    input-any valid integr\n    output- odd/even\n    created on-16th Nov 2022\n    '

In [7]:
print(is_even.__doc__)

    This function returns if a given number is odd or even
    input-any valid integr
    output- odd/even
    created on-16th Nov 2022

#### Point of Views

In [8]:
is_even('hello')

'pagal hai kya?'

#### Parameters Vs Arguments

#### Types of Arguments

Default Arguments
Positional Arguments
Keyword Arguments

#Default Arguments

In [12]:
def power(a=1,b=1):
    return a**b
#where we provided default value is 1

In [11]:
power(2,3)

8

#Positional arguments

In [14]:
power(2,3)

8

#Key word arguments

In [15]:
power(b=3,a=2)

8

#   * args and    **kwargs

# 
    *args and **kwargs are special python keywords that are used to pass the variable length of argument functions.

In [17]:
# *args
# allow us to pass a variable number of non-keyword arguments to a function
# args store variable number of arguments in the form of tuple

In [18]:
def multiply(*args):
    product = 1
    
    for i in args:
        product = product *i
    print(args)
    return product

In [9]:
def add_numbers(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

result = add_numbers(1, 2, 3, 4, 5)
print(result)  # Output: 15

15

In [19]:
multiply(1,2,3,4,5)

(1, 2, 3, 4, 5)

120

In [20]:
# **kwargs
# **kwargs allows us to pass any number of keywords arguments.
# Key words arguments mean that they contain a key-value pair,like python dictionry

In [21]:
def display(**kwargs):
    for(key,value) in kwargs.items():
        print(key,'->',value)

In [22]:
display(india='delhi',srilanka='colombo',nepla='kathmandu')

india -> delhi
srilanka -> colombo
nepla -> kathmandu

#Points to remember while using *args and **kwargs
1).order of the arguments matter (normal -> *args ->**kwargs)
2).The words "args" and "kwargs" are only a convention, you can use any name of your choice.

### How Funcctions are executed in memory?

In [10]:
# RAM -> city
# GLOBAL FRAME -> home
# FUNCTION SCOPE-> room

# Function is active between call and return only, then the function is not in active.

### without return statement

In [26]:
L=[1,2,3]
print(L.append(4))

None

In [28]:
L=[1,2,3,4]
print(L.append(5))
print(L)

None
[1, 2, 3, 4, 5]

### Variable Scope

#### Global

In [8]:
#variables which are created outside of the function is called global variables.
#global variable can be used by everyone, both inside the function and outside of the function.

In [ ]:
#created variable outside of the function and use it inside of the function.

In [16]:
x='awesome'

def myfunc():
    print('python is'+x)
myfunc()

python isawesome

#### local

In [ ]:
#If you created a variable with the same name inside a function, this variable will be local variable, and
#-->can only be the used in inside the function.

#The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
#Create a variable inside a function, with the same name as the global variable.

In [4]:
x='awesome'

def myfunc():
    x='fantastic'
    print('python is'+x)
myfunc()
print('python is ' +x)

python isfantastic
python is awesome

#### The Global Keyword

In [ ]:
#Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

#To create a global variable inside a function, you can use the global keyword.

#If you use the global keyword, the variable belong to the global scope.

In [24]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
#Also, use the global keyword if you want to change a global variable inside a function.

In [25]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [1]:
def g(y):
    print(x)
    print(x+1)
    
x=5
g(x)
print(x)

5
6
5

In [2]:
def f(y):
    x=1
    x+=1
    print(x)
x=5
f(x)
print(x)

2
5

In [4]:
def f(x):
    x = x+1
    print('in f(x): x=',x)
    return x
x=3
z=f(x)
print('in main program scope:z=',z)
print('in main program scope:x=',x)

in f(x): x= 4
in main program scope:z= 4
in main program scope:x= 3

### Nested Functions

In [5]:
def f():
    def g():
        print('inside function g')
        f()
    g()
    print('inside function f')

In [1]:
def g(x):
    def h(x):
        x=x+1
        print('in g(x): x=',x)
        h(x)
        return x
x=3
z=g(x)
print('in main program scope:x=',x)
print('in main program scope:z=',z)

in main program scope:x= 3
in main program scope:z= None

### Functions are first class citizens

In [10]:
#type and id

def square(num):
    return num**2

In [40]:
type(square)

function

In [27]:
id(square)

1460719440656

In [28]:
x=square

In [29]:
id(x)

1460719440656

In [ ]:
#id of square function and id of x are same
#so we can use x also a square function

In [30]:
square(3)

9

In [31]:
x(3)

9

In [39]:
#reassign square function as a 'x'
x=square
id(x)
x(3)

9

In [34]:
#Example of reassign
a = 2
b = a

b

2

In [35]:
#deleting a function 
del square

NameError: name 'square' is not defined

In [36]:
square(3)

NameError: name 'square' is not defined

In [11]:
#sorting 
L=[1,2,3,4,square]
L[-1](3)

9

In [9]:
s={square}
s

{<function __main__.square(num)>}

In [ ]:
#returning a function

In [ ]:
# one function returning the another function it is possible in functions

In [11]:
def f():
    def x(a,b):
        return a+b
    return x
val=f()(3,4)
print(val)

7

In [ ]:
#function as argument

In [13]:
def func_a():
    print('inside func_a')
def func_b(z):
    print('inside func_c')
    return z()
print(func_b(func_a))

inside func_c
inside func_a
None

In [ ]:
#Benefits of using a Function

*.Code Modularity
*.Code Readibility
*.Code Reusability

### Lambda Function

A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only one expression

 lambda a,b: a+b
 
 lambda-->(lambda key word) lambda key word creates the lambda expression.
 a,b--->(parameters) One or more parameters are supported. Must be separated by comma(,) and no parentheses.
 : colon--->(colon) this is a cue for the expression.
 a+b-->(Expresion) Must be a single python valid expression.
 
 The lambda function should be stored in a variable for use.

In [2]:
# x -> x^2
lambda x:x**2

In [45]:
x=lambda x:x**2
x(2)

4

In [3]:
# x,y -> x+y

a=lambda x,y:x+y
a(5,2)

7

#### Difference between lambda vs Normal Function

1).No name
2).Lambda has no return value(infact,returns a function)
3).lambda is written in 1 line
4).Not reusable

1).Then why we use lambda function?
2).Lambda Function used for Higher Order Functions.

In [47]:
#check if a string has 'a'

x=lambda s:'a' in s
x('hello')

False

In [8]:
#odd or even

a=lambda x:'even' if x%2==0 else 'odd'
a(6)

'even'

#### Higher Order Functions

1). A function returns a another function is called higher order functions.
2). and also if a function recives another function in an input it is also call higher order functions.

#Example

In [48]:
def square(x):
    return x**2
def cube(x):
    return x**3
#HOF
def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))
        
    print(output)

In [49]:
L=[1,2,3,4,5]
    
transform(lambda x:x**3,L)

[1, 8, 27, 64, 125]

## MAP

In [15]:
# square the items of a list

In [16]:
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [17]:
#odd/even labelling of list items

L=[1,2,3,4,5]
list(map(lambda x:'even' if x%2 ==0 else 'odd',L ))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#fetch names from a list of dict

In [20]:
users=[
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },

    {
        'name':'Nitist',
        'age':33,
        'gender':'male'
        
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }

]

list(map(lambda users:users['gender'],users))

['male', 'male', 'female']

### Filter

#number greater than 5

In [22]:
L=[3,4,5,6,7]

list(filter(lambda x:x>5, L))

[6, 7]

In [23]:
#Fetch fruits starting with "a"

fruits=['apple','guva','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

## Reduce

In [24]:
#sum of all item
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [25]:
#find min
functools.reduce(lambda x,y:x if x>y else y, [23,11,45,10,1])

45

### Functions Examples

In [1]:
def test():
    print('Hello World')
test()

Hello World

In [5]:
def abc(a):
    print(a+10)
abc(10)

20

In [6]:
def abc(b):
    print(b+20)
abc(30)

50

In [7]:
def abc(c):
    print(c+40)
abc(70)

110

In [8]:
abc(1000)

1040

In [9]:
def Getcountryname(name='India'):
    print(name)
Getcountryname()

India

In [10]:
def Getcountryname(name='damodhara is a good boy'):
    print(name)
Getcountryname()

damodhara is a good boy

In [11]:
def soma():
    print('hello jack')
soma()

hello jack

In [12]:
def soma(name='Rohit'):
    print(name)
soma()

Rohit

In [ ]:
def getNames(list):
    for x in list:
        print(x)
names=['java','python','DoTNET','Ruby']

In [14]:
def getNames(list):
    for x in list:
        print(x)
names=['java','python','R']
getNames(names)

java
python
R

In [15]:
def getNames(list):
    for x in list:
        print(x)
names=['java','python','R']
getNames(names)

java
python
R

In [16]:
def sum(a,b):
    return a+b
c=sum(30,40)
print(c)

70

In [17]:
def sum(a,b):
    return a+b
c=sum(100,200)
print(c)

300

In [18]:
def getcapitalname(countryname):
    if countryname=='India':
        return 'NewDelhi'
print(getcapitalname('India'))

NewDelhi

In [19]:
def getsurname(name):
    if name=='Damodhara':
        return 'Avula'
print(getsurname('Damodhara'))

Avula

In [21]:
def getcapitalname(countryname):
    if countryname=='India':
        return 'New Delhi'
    elif countryname=='Usa':
        return 'Washigtondc'
print(getcapitalname('India'))
print(getcapitalname('Usa'))

New Delhi
Washigtondc

In [24]:
def getcapitalname(statename):
    if statename=='Andhra Pradesh':
        return 'Old capital is Hyderabad'
print(getcapitalname('Andhra Pradesh'))

Old capital is Hyderabad

In [26]:
def launchbrowser(browserName):
    if browserName=='Chrome':
        print('Launchgooglechrome')
    elif bowserName=='firefox':
        print('launchfirefox')
    else:
        print('no browser is defined')
launchbrowser('Chrome')

Launchgooglechrome

In [27]:
def getjob(interview):
    if interview =='selected':
        print('He got a job')
    elif interview=='not selected':
        print('he not got a job')
getjob('selected')

He got a job

In [28]:
def login(username,password):
    print(username,password)
login('damodhara','damu@123')

damodhara damu@123

In [34]:
def fact(num):
    if (num>1):
        num=num*fact(num-1)
    return num
print(fact(10))

3628800

In [35]:
fact(4)

24

In [36]:
fact(10)

3628800

In [37]:
def fact(num):
    if (num>1):
        num=num*fact(num-1)
    return num
print(fact(4))

24

In [38]:
def fact(num):
    if (num>1):
        num=num*fact(num-1)
    return num
print(fact(5))

120

In [43]:
n=int(input('enter the number'))
if n%2==0 and n>=2 and n<=5:
    print('Not Weird')
elif n%2!=0:
    print('Weird')
elif n%2==0 and n>=6 and n<=20:
    print('Weird')
elif n>20:
    print('Not Weird')

enter the number3
Weird

In [46]:
n=int(input('enter the number'))
if n%2==0 and n>=2 and n<=5:
    print('Not Weird')
elif n%2!=0:
    print('Weird')
elif n%2==0 and n>=6 and n<=20:
    print('Weird')
elif n>20:
    print('Not Weird')

enter the number4
Not Weird

In [45]:
if n%2==0 and n>=2 and n<=5:
    print('Not Weird')
elif n%2!=0:
    print('Weird')
elif n%2==0 and n>=6 and n<=20:
    print('Weird')
elif n>20:
    print('Not Weird')

Not Weird

In [1]:
def adding_twonumbers(a,b):
    return a+b

adding_twonumbers(10,20)

30

In [7]:
def greetings(name):
    return ('hello'+ name+'!')

x=greetings(' getha')
print(x)

hello getha!

In [8]:
greetings()

'hellomohan!'

In [5]:
def square_items(L):
    
    squares=[]
    
    for i in L:
        squares.append(i**2)
    return squares
L=[1,3,4,5,67]
square_items(L)

[1, 9, 16, 25, 4489]

### clesius to fahrenheit converter

In [8]:
def celsius_to_fahrenheit(celsius):
    fahrenheit =(celsius*9/5)+32
    return fahrenheit
celsius_to_fahrenheit(25)

77.0

In [9]:
celsius_to_fahrenheit(28)

82.4

### Palindrome Checker

In [10]:
def is_palindrome(word):
    if word==word[::-1]:
        return True
    else:
        return False

In [11]:
print(is_palindrome('racecar'))

True

In [12]:
print(is_palindrome('abba'))

True

### FizzBuzz

In [15]:
def fizz_buzz(num):
    if num %3 ==0 and num % 5==0:
        return 'Fizzbuzz'
    elif num%3==0:
        return 'Fizz'
    elif num % 5==0:
        return 'Buzz'
    else:
        return num

In [16]:
for i in range(1,21):
    x=fizz_buzz(i)
    print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz

### Password Generator

In [24]:
import random 
import string

def generate_password(length):
    letters = string.ascii_letters
    numbers = string.digits
    symbols = string.punctuation
    
    all_chars = letters +numbers + symbols
    password =''.join(random.sample(all_chars,length))
    return password