# characteristics of list
     
     *.Ordered
     *.Changeble/Mutable
     *.Hetrogeneous
     *.Can have duplicates
     *.dynamic
     *.Nested 
     *.items can be accesed
     *.can contain any type of object

In [1]:
#Ordered
L1=[1,2,3]
L2=[3,2,1]
L1==L2

False

L1 is not equalt to L2 because ordered is not same

In [4]:
#Mutable
L1=[1,2,3]
L1[0]=100
print(L1)

[100, 2, 3]

In [5]:
#Heterogeneous
x=[123,'damodhara',120.30,True]
print(x)

[123, 'damodhara', 120.3, True]

In [6]:
#can have duplicated
x=['apple','banana','orange','apple']
print(x)

['apple', 'banana', 'orange', 'apple']

In [7]:
#can be nested
x=[1,2,3,4,[123],['damodhara']]
print(x)

[1, 2, 3, 4, [123], ['damodhara']]

In [9]:
#items can be accessed
x=['rama','sita','hanuma']
print(x[0])

rama

## creating a list

In [10]:
#empty list
print([])

[]

In [11]:
# 1D list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [141]:
# 2D List
print([1,2,3,[4,5,6]])
#heterogeneous 
#1,2,3 are integers 
# [4,5,6] are list

[1, 2, 3, [4, 5, 6]]

In [15]:
#3D list
print([[[1,2],[3,4]],[[5,6],[6,7]]])
#homogeneous

[[[1, 2], [3, 4]], [[5, 6], [6, 7]]]

In [16]:
#using type conversion
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

### accessing items from a list

#### Indexing

In [25]:
x=[1,2,3,[4,5]]
print(x[3][0])

4

In [27]:
print(x[-1][-2])

4

In [30]:
# Extract 5
x=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(x[1][0][0])

5

In [31]:
#Extract 3
print(x[0][1][0])

3

In [32]:
#Extract 2
print(x[0][0][1])

2

#### Slicing

In [3]:
L=[1,2,3,4,5,6]
print(L[2:])

[3, 4, 5, 6]

In [4]:
print(L[0::2])

[1, 3, 5]

In [7]:
print(L[-5:-1:2])

[2, 4]

In [37]:
print(L[::-1])

[6, 5, 4, 3, 2, 1]

### Adding items to a List

#### append
   one item can be added one time at end of the list

In [142]:
L=[1,2,3,4,5,6]
L.append(7)
print(L)

[1, 2, 3, 4, 5, 6, 7]

In [39]:
L.append(True)
print(L)

[1, 2, 3, 4, 5, 6, 7, True]

#### Extend 
   We can added multiple items at the end of list

In [42]:
x=[1,2,3,4,5,6]
x.extend([7,8,9])
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
x.extend('Delhi')

In [49]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'D', 'e', 'l', 'h', 'i']

#### Insert 
   it useful for insert value into desired location

In [51]:
x=[1,2,3,4,5]
x.insert(1,100)
# index position 1 (between 1 and 2) and inserted value 100
print(x)

[1, 100, 2, 3, 4, 5]

In [54]:
x=['damodhara','hariprasd']
x.insert(2,'changalva')
print(x)

['damodhara', 'hariprasd', 'changalva']

### Editing items in a list

In [56]:
L=[1,2,3,4,5]
L[-1]=500
print(L)

[1, 2, 3, 4, 500]

In [57]:
L[1:4]=[200,300,400]
print(L)

[1, 200, 300, 400, 500]

### Deleting items from a list

#### del

In [10]:
L=[1,2,3,4]
del L
#total string deleted

In [60]:
L=[1,2,3,4,5]
del L[-1]
print(L)
# we can deleted single item

[1, 2, 3, 4]

In [62]:
L=[1,2,3,4,5,6]
del L[2]
#based on index value the list is deleted
print(L)

[1, 2, 4, 5, 6]

In [63]:
del L[1:2]
#delet can be done using delet

In [65]:
L

[1, 4, 5, 6]

#### remove
  remove can used to remove particular value in a list

In [143]:
L=[1,2,3,4,5,6]
L.remove(5)
print(L)
#it can be removed based an value present in list

[1, 2, 3, 4, 6]

In [70]:
L=['damu','ram','dhan']
L.remove('dhan')
print(L)

['damu', 'ram']

#### pop

In [72]:
L=[1,2,3,4,5]
L.pop(0)
print(L)
#while provinding index postion the item will be deleted

[2, 3, 4, 5]

In [75]:
L=[1,2,3,4,5]
L.pop()
print(L)
# no index position, the last item of the list will deleted

[1, 2, 3, 4]

#### Clear
     All items can be deleted and give empty string

In [77]:
L=[1,2,3,4,5]
L.clear()
print(L)

[]

### Operation in List

#### Arithmetic Operations
     + and *

In [79]:
L1=[1,2,3,4,5]
L2=[6,7,8,9,10]
print(L1+L2)
#concatenation

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
L1*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### Membership Operations

In [85]:
L1=[1,2,3,4,5]

L2=[1,2,3,4,[5,6]]

In [87]:
print(5 in L1)

True

In [88]:
print(5 in L2)

False

In [86]:
print([5,6] in L2)
#[5,6] not a number it a nested list

True

#### loops

In [89]:
L1=[1,2,3,4,5]

L2=[1,2,3,4,[5,6]]

for i in L1:
    print(i)

1
2
3
4
5

In [90]:
for i in L2:
    print(i)

1
2
3
4
[5, 6]

In [91]:
L3=([[[1,2],[3,4]],[[5,6],[6,7]]])
for i in L3:
    print(i)

[[1, 2], [3, 4]]
[[5, 6], [6, 7]]

### List functions

In [144]:
#len
L=[1,2,3,4,5]
print(len(L))

5

In [94]:
L=[1,2,3,4,5,'Damu']
print(len(L))

6

In [95]:
#max
L=[1,2,3,4,5,6]
print(max(L))

6

#Error
L=[1,2,3,4,5,'damu']
print(max(L))

In [98]:
#min 
L=[1,2,3,4,5]
print(min(L))

1

In [99]:
#sorted 
print(sorted(L))

[1, 2, 3, 4, 5]

In [100]:
L=[1,2,3,7,8,9,10]
print(sorted(L))

[1, 2, 3, 7, 8, 9, 10]

In [146]:
#count
L=[1,2,3,4,5,5,6,1,2,3,5]
print(L.count(1))
print(L.count(2))

2
2

In [147]:
#index
L=[1,2,3,4,5,6]
L.index(2)
# index position of 2 is 1
#the out put is index position of a particular value

1

In [105]:
#reverse
L=[1,2,3,4,5]
L.reverse()
print(L)
#it permanently reverses

[5, 4, 3, 2, 1]

In [110]:
#sorted
L=[0,4,3,2,1,5]
print(sorted(L))
print(L)
#sorted is a temporary operation

[0, 1, 2, 3, 4, 5]
[0, 4, 3, 2, 1, 5]

In [116]:
#Sort
L=[0,4,3,2,1,5]
L.sort()
print(L)
# sort is a permanently changes

[0, 1, 2, 3, 4, 5]

In [117]:
L=[1,2,3,4,5]
print(L)
print(id(L))
L1=L.copy()
print(L1)
print(id(L1))

[1, 2, 3, 4, 5]
2566781331712
[1, 2, 3, 4, 5]
2566782195008

In [118]:
#the values are same but both are different lists

## List Comprehension
    
    Important Topic

list comprehension provides a concise way of creating lists

newlist=[expresion for item in iterable if condition == True]

   Advantages of List Comprehension: 
    
    1.More time efficient and time efficient than loops.
    2.Require fewer lines of code.
    3.Transforms iterative statement into a formula.

In [119]:
# Add 1 to 10 numbers to a list

L=[]

for i in range(1,11):
    L.append(i)
    
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
L= [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
#scaler multiplication
v=[2,3,4]
s=-3
[s*i for i in v]

[-6, -9, -12]

In [125]:
#Add squres
L=[1,2,3,4]
[i**2 for i in L]

[1, 4, 9, 16]

In [126]:
#Print all the numbers that are divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [128]:
#Find language which start with letter p

language=['java','python','php','c','javascript']
[language for language in language if language.startswith('p')]

['python', 'php']

In [129]:
[i for i in language if i.startswith('p')]

['python', 'php']

In [130]:
#Nested if with List Comprehension 
basket=['apple','guva','cherry','banana']
my_fruits=['apple','kiwi','grapes','banana']
[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [131]:
#print a (3,3) matrix using list comprehension ---> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [132]:
#cartesian product -> List Comprehension on 2 lists together 
L1=[1,2,3,4]
L2=[5,6,7,8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

### 2 ways to traverse a list 
#itemwise 


#indexwise

In [133]:
#item wise
L=[1,2,3,4]

for i in L:
    print(i)

1
2
3
4

In [134]:
#index wise 
L=[1,2,3,4]

for i in range(0,len(L)):
    print(L[i])

1
2
3
4

### Zip

the zip() function returns a zip object, which is an iterator of tuples where the first item in each passed
iterator is paired together, and then the second item in each passed iterator are paired togethe.

if the passed iterator have different lengths, the iterator with the least items decides the length of the new iterator

In [137]:
# write a program to add items of 2 lits indexwise

L1=[1,2,3,4]
L2=[-1,-2,-3,-4]
list(zip(L1,L2))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [138]:
[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

### List can contain any type of python objects

In [140]:
L=[1,2,3,4,5,6,7,print,type,input]
print(L)

[1, 2, 3, 4, 5, 6, 7, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x00000255A00DA130>>]

### Disadvantages of Python List

     * Slow
     * Risky usage
     * eats up more memory