### Print Function

In [1]:
print('Hello world')

Hello world

In [2]:
print(6)

6

In [3]:
print(0.6)

0.6

In [4]:
print(False)

False

In [5]:
print('India','Srilankha','Nepal')

India Srilankha Nepal

In [6]:
print('India',5,'Nepal')

India 5 Nepal

In [7]:
print('India','Srilankha','Nepal',sep='/')

India/Srilankha/Nepal

In [8]:
print('India','Srilankha','Nepal',sep='/')

India/Srilankha/Nepal

In [9]:
print('India','Srilankha','Nepal',sep='-')

India-Srilankha-Nepal

In [10]:
print('damo')
print('dhar')

damo
dhar

In [11]:
str='well'
print(str,'come')

well come

In [12]:
str='hari'
print(str,'Prasad')

hari Prasad

In [13]:
str1='Wellcome'
str2='Python'
print(str1,str2)

Wellcome Python

In [14]:
# '\n' used for new line

In [15]:
print(str1,str2,':')

Wellcome Python :

In [16]:
text = ("Damodar is an intelligent and also curious to learn datscience\nbut he wont\nbelive himself as soon as possible he will get a job")
print(text)

Damodar is an intelligent and also curious to learn datscience
but he wont
belive himself as soon as possible he will get a job

In [17]:
print('Damodhara\ndata scientist\nB.tech student')

Damodhara
data scientist
B.tech student

In [18]:
print('Damodhara\nHariprasad\nJaya\nRamana')

Damodhara
Hariprasad
Jaya
Ramana

any word print multiple times

In [19]:
print('damodhara'*5)

damodharadamodharadamodharadamodharadamodhara

In [20]:
print('damodhara\n'*4)

damodhara
damodhara
damodhara
damodhara

\t is used for tab.

In [21]:
print("""
language:
\t1 python
\t2 java\n\t3 JavaScript
""")

language:
	1 python
	2 java
	3 JavaScript

In [22]:
print("""
My Family:
\t1 Damodhara
\t2 Hariprasad
\t3 Ramana
\t4 jayamma
""")

My Family:
	1 Damodhara
	2 Hariprasad
	3 Ramana
	4 jayamma

In [23]:
print("""
My Family:
\ta. Damodhara
\tb. Hariprasad
\tc. Ramana
\td. jayamma
""")

My Family:
	a. Damodhara
	b. Hariprasad
	c. Ramana
	d. jayamma

Python Datatypes

python Support 3 categories of data types: 1.Basic Types: (Integer ,Float,Complex,Boolean and String) 2.Container Type:(List,Tuples,Sets and Dictionaries) 3.User defined Types:(Class)

## Basic Type:

### Integer
- -Infinity to +infinity

In [24]:
print('5')
print(1e308)

5
1e+308

In [25]:
print(1e308)

1e+308

### Float
decimal number -infinity to +infinity of decimal numbers

In [26]:
print(4.5)

4.5

In [27]:
print(1.7e308)

1.7e+308

In [28]:
x=30.0
type(x)

float

### Boolean

: Booleans represent one of two values: True or False.
When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [29]:
print(True)
print(False)

True
False

### complex

In [30]:

print(4+5J)

(4+5j)

## string

In [31]:

print('Damodhara')
print("Damodhara")
print('''damodhara''')

Damodhara
Damodhara
damodhara

### CONTAINER TYPE:

### List

In [32]:
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

### Tuple

In [33]:
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

### Sets

In [34]:
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

### Dictionary

In [35]:
print({'Name':'Damodhara'})

{'Name': 'Damodhara'}

### Comments in Python

In [36]:
#comment

In [37]:
#this is comment

### Variables in Python

In [38]:
name="damodhara"
print(name)

damodhara

#Dynamic Binding : If one variable stores multiple data tyes known as dyanamic binding

#Static Binding: if one variable is assigned to data type throught the program ,the 
programe variable cannot be changed.

### special syntax

In [39]:
a=5; b=5; c=9
print(a)
print(b)
print(c)

5
5
9

In [40]:
a,b,c=5,6,7
print(a)
print(b)
print(c)

5
6
7

In [41]:
a=b=c=6
print(a)
print(c)
print(b)

6
6
6

### swap variable

In [42]:
x=10
y=20
print(x)
print(y)

10
20

In [43]:
x,y=y,x
print(x)
print(y)

20
10

In [44]:
x='damodhara'
y='Hariprasad'
print(x)
print(y)

damodhara
Hariprasad

In [45]:
x,y=y,x
print(x)
print(y)

Hariprasad
damodhara

#### Global and Local Variable

In [46]:
var1 = "python"
def func1():
    var1 = "PHP"
    print('In side func() var1=', var1)
    
def func2():
    print("In side func2() var1=",var1)
func1()
func2()

In side func() var1= PHP
In side func2() var1= python

### Key Words

Python is a case sensitive programming language

In programming a keyword is a word that is reserved by a programme because the word as a special meaning.keyword can be commands or parameters.Every programing language
has set of keywords that can not be used as a variable name

In [47]:
#python as 33 keywords 
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Identifier

A python identifier is a name used to identify a varible, function, class, module or other object.

Rules for setting identifiers:
 1.can only start with a alphabet or _ (Under Score)
 2.Followed by 0 or more letter,_(under score) and digits
 3.Keyword can not be used as an identifier

In [48]:
_='Nitish'
print(_)

Nitish

In [49]:
a='Nitish'
print(a)

Nitish

#='damu'
print(#)
Error

In [50]:
name1='Damu'
print(name1)

Damu

1name='damu'
print(1name)
#the variable should not start with the integer

In [51]:
first_name='Avula'
print(first_name)

Avula

In [52]:
__="damodhara"
print(__)

damodhara

False="damodhara"
print(False)
#the variables should not use the keywords

### The Input Function

In [53]:
input('Damodhara')

Damodharahai

'hai'

In [54]:
input('hai')

haihello

'hello'

In [55]:
input('what is your name')

what is your namedamodhara

'damodhara'

In [56]:
first_num=input('Enter the first number')
second_num=input('Enter the second number')

Enter the first number12
Enter the second number22

In [57]:
print(first_num)
print(second_num)

12
22

In [58]:
result=first_num+second_num
print(result)

1222

In [59]:
type(first_num)

str

In [60]:
first_num

'12'

#the data type is string so the number can be concatenate

### Type Conversion in Python

In [61]:
#types of type conversion
#1.implicit
#2.Explicit

In [62]:
4+5.5 #implicit

9.5

In [63]:
7+9+5j   #implicit

(16+5j)

In [64]:
first_num+second_num

'1222'

In [65]:
#int
int(45)

45

In [66]:
float(4)

4.0

In [67]:
str(4)

TypeError: 'str' object is not callable

In [68]:
bool(1)

True

In [69]:
complex(4)

(4+0j)

In [70]:
list('hello')

['h', 'e', 'l', 'l', 'o']

a=4.5 # the original value can't be change, while conversion its create new integer

In [71]:
a=4.5

In [72]:
int(a)

4

In [73]:
first_num=input('Enter the first number')
second_num=input('Enter the second number')

result=int(first_num)+int(second_num)
print(result)

Enter the first number12
Enter the second number22
34

## Literal

Literal is raw data given to variable

### Numerical Literal

In [74]:
a=0b1010 #binary literal
b=100 #decimal
c=0o310 #octal literal
d=0x12c #Hexa decimal literal

In [75]:
#float literal
float_1=10.5
float_2=1.5e2
float_3=1.5e-3

In [76]:
#Complex literal
x=3.14j

In [77]:
print(a,b,c,d)

10 100 200 300

In [78]:
print(float_1)
print(float_2)
print(float_3)

10.5
150.0
0.0015

In [79]:
print(x,x.imag, x.real)

3.14j 3.14 0.0

### String Literals

In [80]:
string="this is python"
strings="this is python"
char='C'
multiliner_str="""this is a multiline string with more than one line code."""
unicode=u'\U0001f600\U0001F606\U0001F923'
raw_str=r"raw\n string"

In [81]:
print(string)

this is python

In [82]:
print(strings)

this is python

In [83]:
print(char)
print(multiliner_str)
print(unicode)
print(raw_str)

C
this is a multiline string with more than one line code.
😀😆🤣
raw\n string

### Boolean Literals

In [84]:
a= True + 4
b= False + 10
print("a:", a)
print("b:",b)

a: 5
b: 10

### Special Literal

In [85]:
a = None
print(a)

None

In [86]:
c=34+45

In [87]:
k= None

## Operators in Python

#operators are used to perform operation on variable and values.Python has the following operators

In [88]:
#Arthimatic Operators
#Comparision Operators
#Logical Operators
#Bitwise Operators
#Assignment Operators
#identity Operators 
#Membership Operators

#### Arthimatic operators

In [89]:
x=5
y=6
print(x+y)

11

In [90]:
print(y-x)

1

In [91]:
print(x*y)

30

In [92]:
print(x%y)

5

In [93]:
print(x**y)

15625

In [94]:
print(x//y)

0

In [95]:
print(x/y)

0.8333333333333334

### comparision Operators

In [96]:
print(x>y)

False

In [97]:
print(x<y)

True

In [98]:
print(x>=y)

False

In [99]:
print(x<=y)

True

In [100]:
print(x==y)

False

In [101]:
print(x!=y)

True

### Logical Operator

In [102]:
x=True
y=False
print(x or y)

True

In [103]:
x=False
y=False
print(x or y)

False

In [104]:
print(x and y)

False

In [105]:
print(not x)

True

In [106]:
print( not y)

True

##### and

In [107]:
x=10

In [108]:
x>10 and x>5
#if both statement are True it gives True as output
#if one of the statement as false it gives False as output

False

In [109]:
x>8 and x>5

True

In [110]:
x>12 and x>10

False

#### or

In [111]:
x>10 or x>5
#while using or logical operator one of the statement is True it gives result as true

True

In [112]:
x>10 or x>12 
#while using or logical operator both of the statements are False it gives result as False

False

In [113]:
x>8 or x>5
#while using or logical operator both of the statemts are True it gives results as True

True

In [114]:
not(x>10 and x>5)

True

### Bit Wise Operator

In [115]:
x=2
y=3

In [116]:
print(x & y)

2

In [117]:
print(x|y)

3

In [118]:
print(x>>2)

0

In [119]:
print(y<<3)

24

In [120]:
print(x)

2

### Assignment Operators

In [121]:
a=3
print(a)

3

In [122]:
b=3

In [123]:
b+=3
print(b)

6

In [124]:
a-=3
a*=3
a&=3

In [125]:
a=5
a+=5
print(a)

10

In [126]:
a**=5 #a=a**5

In [127]:
a

100000

### Identity Operators

In [128]:
a='Hello'
b='Hello'

In [129]:
print( a is b)

True

In [130]:
a=[1,2,3]
b=[1,2,3]
print(a is b)

False

In [131]:
a='Hello-World'
b='Hello-World'
print(a is b)

False

In [132]:
x='Delhi'
print('D' not in x)

False

In [133]:
x=[1,2,3]
print(1 in x)

True

In [134]:
print(5 in x)

False

In [135]:
list1=[10,20,30]
list2=[10,20,30]

In [136]:
x=list1

In [137]:
x is list1

True

In [138]:
list1 is list2

False

In [139]:
list1 is not list2

True

#### Memobership Operators

In [140]:
list1=[10,20,30]
list2=[10, 20, 30]

In [141]:
x is list1

False

In [142]:
x in list1

False

In [143]:
list

list