### Tuples

A tuple in python is similar to a list. The difference between the 
two is that we cannot change the elements of a tuple once 
it is assigned whereas we can change the elements of a list.

in short, a tuple is an immutable list. A tuple can not be changed in any way once it is created

### Characteristics 

   *. Ordered
   
   
    *.Unmutable
    
    
    *.allows duplicated

### Creating Tuples

In [1]:
#empty
t1=()
print(t1)

()

In [3]:
#create a tuple with a single item
t2=('hello')
print(type(t2))
#single tuple gives wrong class

<class 'str'>

In [4]:
t2=('hello',)
print(type(t2))

<class 'tuple'>

In [5]:
#homogeneous
t3=(1,2,3,4)
print(t3)

(1, 2, 3, 4)

In [6]:
#hetrogeneous
t4=(1,2.5,True,[1,2,3])
print(t4)

(1, 2.5, True, [1, 2, 3])

In [7]:
#tuple
t5=(1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

In [8]:
#using type conversion
t6=tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

### Accessing Items

#### Indexing

In [9]:

t=('damodhara','hariprasad','jaya')
print(t[0])

damodhara

In [10]:
print(t[-1])

jaya

In [2]:
thistuple=("apple","banana","cherry")
print(thistuple[-1])

cherry

In [3]:
thistuple=("apple","banana","cherry")
print(thistuple[1])

banana

#### Slicing

In [1]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

### Editing Items

In [13]:
print(t3)
t3[0]=100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [14]:
#Tuples are immutable

### Adding items

In [16]:
print(t3)
#not possible , tuples are immutable

(1, 2, 3, 4)

### Deleting items

In [19]:
print(t3)
del t3
# total tuple deleted

NameError: name 't3' is not defined

In [20]:
print(t5)

(1, 2, 3, (4, 5))

In [21]:
del t5[-1]
#not possible delet the particular portion in the tuple

TypeError: 'tuple' object doesn't support item deletion

### Operations on Tuples

#### Arithematic Operations

In [25]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [26]:
print(t1*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

#### Membership operations

In [29]:
1 in t1

True

In [30]:
4 not in t1

False

In [5]:
thistuple=("apple","banana","cherry")
if "apple" in thistuple:
    print("yes, 'apple' is in this fruits tuple")

yes, 'apple' is in this fruits tuple

#### Iterations or Loops

In [31]:
for i in t1:
    print(i)

1
2
3
4

### Tuple Functions

In [32]:
#len
t=(1,2,3,4)
len(t)

4

In [33]:
sum(t)

10

In [34]:
min(t)

1

In [35]:
max(t)

4

In [36]:
sorted(t,reverse=True)

[4, 3, 2, 1]

In [38]:
#count
t=(1,2,3,4,5)
t.count(5)

1

In [40]:
#index
t.index(5)
# index position of 5 is 4

4

### Difference between Lists and Tuples

Syntax
Mutability
speed
Memory 
Built In functionality
Error prone
usability

In [42]:
#tuples are faster then list , because tuple are immutable

In [ ]:
import time
L=list(range(100000000))
T=tuple(range(100000000))

start = time.time()
for i in L:
    i*5
print('List time', time.time()-start)

start=time.time()
for i in T:
    i*5
print('Tuple time',time.time()-start)

In [1]:
import sys
L=list(range(1000))
T=tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

### Special Syntax

#### tuple unpacking

In [3]:

a,b,c=(1,2,3)
print(a,b,c)

1 2 3

a,b=(1,2,3)
it give error, because two sides value must be same

In [5]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [6]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

#### Zipping tuples

In [8]:
a=(1,2,3,4)
b=(5,6,7,8)

list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [9]:
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [7]:
#changing tuple into list then we can remove item in tuples
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.remove("apple")
thistuple=((y))
print(y)

['banana', 'cherry']